beancount

fava
fava-dashboards
croniter

beancount-lazy-plugins @ git+https://github.com/Evernight/beancount-lazy-plugins@d22b25b9a5258c312709a7e181b05bc8ce05be6c
fava-git @ git+https://github.com/alan852/fava-git@896cf08d2a5f264cb92518c1798ee316089d5fc2
fava-uk-tax-return @ git+https://github.com/alan852/beancount-fava-plugin-uk-tax-return@9892aa39d18bd619ec93e171052d0cbba08adad7
fava-repayment @ git+https://github.com/alan852/beancount-fava-plugin-repayment@288dc1feb6164a77ce5c8fbffb4a1214c4d29654